<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-3">  <%= title %> page</h1>
      
    </div>

    <table>
      <tr>
          <td> <button type="button" class="btn btn-primary">Contact Number</button> </td>
          <br><td>  <a href="4372322343">( +1 4372327373)</a> </td>
      </tr>
      <tr>
          <td> <button type="button" class="btn btn-primary">facebook</button></td>
          <td><a href="www.facebook.com">Facebook</a></td>
      </tr>
      <tr>
          <td> <button type="button" class="btn btn-primary">Twitter</button></td>
          <td><a href="www.Twitter.com">Twitter</a></td>
      
      </tr>
      <tr>
          <td> <button type="button" class="btn btn-primary">Email</button></td>
          <td><a href="smart.tech@gmail.com">smart.tech@gmail.com</a></td>

          
      </tr>

     
  </table>
  <img  src="/assets/images/logo.png" alt="logo">
    
    
    


  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  

